
    <div id="wrapper">

        <div id="bg"></div>

        <!-- Main -->
        <section id="main">
            <header>
                <span class="avatar"><img src="/assets/logoMovilidad.png" alt="Logo Movilidad UPIITA" /></span>
                <h1>Movilidad Académica</h1>
                <p id="subtitulo">UPIITA-IPN</p>
            </header>

            <hr />
            <h2>¡Bienvenido(a)! Inicio de Sesión</h2>     
            
            <%= form_for(:session, url: sessions_path) do |f| %>
            
                <% if flash[:notice] %>
                    <div class="notice"><%= flash[:notice] %></div>            
                <% end %>
                
                <div class="field">
                    <%= f.text_field :boleta, :placeholder => "Boleta" %>               
                </div>
            
                <div class="field">
                    <%= f.password_field :contrasena, :placeholder => "Contraseña" %>
                </div>
            
                <div class="field">
                    <%# <%= f.check_box :remember_session %>
                    <%= f.submit "Iniciar sesión" %>
                </div>      
                
            <% end %>           
           
            <hr />
            <h2>¿Nuevo usuario? <%= link_to "Regístrate aquí","nuevoPerfil"%></h2>
            <hr />
            <h2>¿Olvidaste tu contraseña? <%= link_to "Recupérala aquí","recpwd"%></h2>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Departamento de Extensión y Apoyo Educativos. UPIITA - IPN. 2016</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () {
                document.body.className = document.body.className.replace(/\bis-loading\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>
