<!DOCTYPE html>
<html>
<head>
  <title>Movilidad Académica UPIITA-IPN</title>
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
  
  <%= stylesheet_link_tag 'app/main.css', media: 'all', 'data-turbolinks' => true %>
  <%= stylesheet_link_tag 'app/noscript.css', media: 'all', 'data-turbolinks' => true %>
  <%= stylesheet_link_tag 'app/application.css', media: 'all', 'data-turbolinks' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<!--Contenido de una página común-->
<%= yield %>

<!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2>Contacto</h2>
                            </header>
                            <ul class="social">
                                <li><a class="icon fa-facebook" href="https://www.facebook.com/movilidad.upiita"><span class="label">Facebook</span></a></li>
                                <li>
                                    <h3>Movilidad Académica</br>
							UPIITA</h3></li>
                            </ul>
                            <ul class="contact">
                                <li>
                                    <h3>Responsable</h3>
                                    <p>Ing. Wendolyne Stephany Ramírez Olvera</p>
                                </li>
                                <li>
                                    <h3>Dirección</h3>
                                    <p>
                                        Avenida Instituto Politécnico Nacional No. 2580</br>
                                        Col Barrio la Laguna Ticomán, Gustavo A. Madero</br>
                                        México D.F., C.P. 07340
                                    </p>
                                </li>
                                <li>
                                    <h3>Teléfono</h3>
                                    <p>5729-6000 ext.56843</p>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2></br></h2>
                            </header>
                            <ul class="social">
                                <li><a class="icon fa-cca" href="http://www.cca.ipn.mx"><span class="label">CCA</span></a></li>
                                <li>
                                    <h3>Coordinación de </br>
								Cooperación Académica</h3></li>
                            </ul>
                            <ul class="contact">
                                <li>
                                    <h3>Responsable</h3>
                                    <p>Dr. Enrique Durán Páramo</p>
                                </li>
                                <li>
                                    <h3>Dirección</h3>
                                    <p>
                                        Unidad Profesional "Adolfo López Mateos"</br>
                                        Edif. de la Secretaría de Extensión e Integración Social, Primer piso </br>
                                        Av. Juan de Dios Bátiz, esq. Luis Enrique Erro </br>
                                        Col. Residencial la Escalera</br>
                                        C.P. 07738, México, D.F.
                                    </p>
                                </li>
                                <li>
                                    <h3>Teléfono</h3>
                                    <p>5729-6000 ext.58028</p>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <div class="4u 12u(mobile)">
                        <section>
                            <header>
                                <h2></br></h2>
                            </header>
                            <ul class="social">
                                <li><a class="icon fa-ipn" href="http://www.ipn.mx"><span class="label">IPN</span></a></li>
                                <li>
                                    <h3>Instituto</br>
									Politécnico Nacional</h3></li>
                            </ul>
                            <ul class="contact">
                                <li>
                                    <h3>Dirección</h3>
                                    <p>
                                        Av. Luis Enrique Erro S/N, Unidad Profesional Adolfo López Mateos</br>
                                        Zacatenco, Delegación Gustavo A. Madero</br>
                                        C.P. 07738, México, Distrito Federal
                                    </p>
                                </li>
                                <li>
                                    <h3>Teléfono</h3>
                                    <p>5729-6000</p>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>



                <div class="row">
                    <div class="12u">

                        <!-- Copyright -->
                        <div id="copyright">
                            <ul class="links">
                                <li>&copy; Departamento de Extensión y Apoyos Educativos</li>
                                <li><a href="http://www.upiita.ipn.mx/">UPIITA-IPN</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </div>

    </div>

</body>

</html>
